.App {
  text-align: center;
   font-family: 'Montserrat', sans-serif; /* добавляем современный шрифт */
  background-color: #baa6ba; /* сиреневый фон для всего приложения */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #baa6ba; /* используем сиреневый оттенок #b37fb3 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333; /* тёмный цвет для лучшей читаемости */
}

.App-link {
  color: #61dafb;
}

/* Стили для зеленых кнопок */
.btn {
  background-color: #28a745; /* основной зеленый цвет */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #218838; /* затемненный оттенок для hover */
}

/* Стили для зеленых иконок */
.icon {
  fill: #28a745;
  width: 24px;
  height: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
